html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.content {
    max-width: 440px;
    width: 100%;    
    height: 92%;
    margin: 0 auto;
    text-align: center;
    background-color: #fbfbfb;
}

.footer {
    max-width: 440px;
    width: 100%;
    height: 8%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid #ebebeb;
}

.menu {
    display: inline-block;
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 25px;
    color: gray;
}

.footer svg {
    transform: scale(1.8);
    padding-top: 10%;
    font-size: 25px;
}

.ant-select-selector {
    border-radius: 5px !important;
}

.ant-input-affix-wrapper {
    border-radius: 5px;
}

/*
common css
*/
.height15 {
    height: 15%;
}

.height18 {
    height: 18%;
}

.height20 {
    height: 20%;
}

.height25 {
    height: 25%;
}

.height30 {
    height: 30%;
}

.height22 {
    height: 22%;
}

.height24 {
    height: 24%;
}

.height38 {
    height: 38%;
}

.height40 {
    height: 40%;
}

.height50 {
    height: 50%;
}

.height60 {
    height: 60%;
}

.height67 {
    height: 67%;
}

.height70 {
    height: 70%;
}

.height85 {
    height: 85%;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.bgWhite {
    background-color: white;
}

.commonBorderBottom {
    border-bottom: 2px solid #ebebeb;
}

.p15 {
    padding: 15px;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}